.background {
    background: linear-gradient( #BE5615, rgba(99, 95, 95, 0.2)), url("../images/roomimg.JPG");
    background-repeat: no-repeat center fixed;;
    /* #2D4488, */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.name-title {
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 130px;
    margin-top: 20px
    }

/* targets nav bar at the bottom */

.icons-row {
    border-bottom: 2px solid #5F3A3A;
}

.img-circle {
    border-radius: 50%;
    /* -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); */
}

.text-centering {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.img-div {
    border-bottom: 2px solid #5F3A3A;
    margin-top: 50px;
    padding-bottom: 20px;
}

.nav1{
    margin-top: 30px;
    
}

a {
    color: black;
}

.icon-color {
    padding: 8px;
}






